/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Preahvihear&display=swap");

/* Reset default margin, padding, and box-sizing for all elements and set the default font-family to "Open Sans" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Style for the body, setting a background color */
body {
  background-color: aliceblue;
}

/* Styles for the heading element */
h1 {
  color: #fff;
  padding: 18px 0;
  text-align: center;
  font-size: 1.75rem;
  background: #5372f0;
}

/* Styles for the main container */
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

/* Styles for the weather input section */
.weather-input {
  width: 550;
}

/* Styles for the input field inside the weather input section */
.weather-input input {
  width: 100%;
  height: 46px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0 20px 0;
  font-size: 1.07rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Styles for the separator line */
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the separator text */
.weather-input .separator::before {
  content: "or";
  color: #6c757d;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #e3f2fd;
}

/* Styles for the search button */
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  background: #6578c4;
}

/* Styles for the location buttons */
.weather-input .location-btn {
  background: #6578c4;
}

/* Styles for the weather data section */
.weather-data {
  width: 100%;
}

/* Styles for the current weather section */
.current-weather {
  color: #fff;
  display: flex;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  background: #5372f0;
  justify-content: space-between;
}

/* Styles for the heading in the current weather section */
.current-weather h2 {
  font-size: 1.7rem;
}

/* Styles for the h4 elements in the weather data section */
.weather-data h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

/* Styles for the weather icon in the current weather section */
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

/* Styles for the weather description in the current weather section */
.current-weather .icon h4 {
  margin-top: -10px;
  text-transform: capitalize;
}

/* Styles for the 5-day forecast heading */
.days-forcast h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

/* Styles for the container of weather cards */
.weather-cards {
  display: flex;
  gap: 20px;
}

/* Styles for individual weather cards */
.weather-cards .card {
  list-style: none;
  color: #fff;
  padding: 18px 16px;
  border-radius: 5px;
  background: #857;
  width: calc(100% / 5);
}

/* Styles for images inside weather cards */
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

/* Media queries for responsive design */
@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .cards {
    width: calc(100% / 4 - 15px);
  }
}

@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .cards {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
}

/* Styles for the location buttons */
.location-btn {
  margin-bottom: 1rem;
}

/* Styles for elements with the "hidden" class, used for hiding elements */
.hidden {
  display: none;
}
